body, input, button, label, legend, table {
    font-family: Arial, sans-serif;
}
.container-login {
    margin-top: 80px;
}
.form-control {
    font-size: 16px;
}
.btn-login {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}
.container-produtos {
    margin-top: 40px;
}
.btn-logout {
    float: right;
}
table {
    margin-top: 20px;
}
table thead {
    background: #f2f2f2;
    font-weight: bold;
}
